@import "./Partials"
$break_small: 670px

.editor
  width: 50%
  height: 400px
  float: left

  @media screen and (max-width: $break_small)
    float: none
    width: 100%

    &:last-child
      margin-top: 160px

  .editortitle
    +label
    +colourclass
    font-size: 30px
    font-weight: bold
    margin-bottom: 10px
    margin-left: 15px

  .editortext
    width: 95%
    height: 100%
    margin: auto
    border-radius: 5px
    border: 2px solid $light-grey

  button.editorapply
    +label
    margin-top: 20px
    margin-left: 20px

    //For the bottom of the page
    margin-bottom: 50px
