*
  margin: 0px
  padding: 0px

@import "./Grid"
@import "./Editor"
@import "./Title"
@import "./Glyph"
@import "./Controls"
@import "./Notification"
@import "../css/Slider.css"

.container
  margin: auto
  margin-top: 20px
  height: min-content

  $size: 70

  @media (orientation:portrait)
    width: #{$size}vw

  @media (orientation:landscape)
    width: #{$size}vh

  .square
    @media (orientation:portrait)
      height: #{$size}vw

    @media (orientation:landscape)
      height: #{$size}vh
