doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/Index.css")
    title Hex-Redux
  body
    .container
      .square
        h1.title(style="float: left;") Hex
        .glyph.spin.last(onclick="engine.restart()")
          .material-icons replay
        #hex-grid
      .editor
        h3.editortitle.red Player 1
        .editortext
        button.editorapply.red Apply
      .editor
        h3.editortitle.blue Player 2
        .editortext
        button.editorapply.blue Apply
  footer
    script(src="js/bundle.js")
