doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Hex-Redux
  body
    .container
      .topbar
        h1.title(style="float: left;") Hex
        span.titletag BETA
        .glyph.spin.last(onclick="engine.restart()")
          .material-icons replay
      .controls
        button.material-icons#TogglePlay pause
        button.material-icons#Step skip_next
        button.material-icons.toggle#AutoRestart autorenew
      .square
        #hex-grid
    .editors
      .editor
        h3.editortitle.red Player 1
        .editortext
        button.editorapply.red Apply
        button.editorreset.red Reset
      .editor
        h3.editortitle.blue Player 2
        .editortext
        button.editorapply.blue Apply
        button.editorreset.blue Reset
    .notifications
      //.notification
        .content 
          h1.notification-title Runtime Error
          p 'a' is not defined
